.button {
    color:#C4DFE6;
     padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;   
}
.button:focus {
    outline: none;
    box-shadow: none;
  }
.border1 {
    border-radius: 3px;
    background-color: #003b46;
    color: #DAA520;
    border: 2px solid #4CAF50;
}
header {
    text-align: justify;
    letter-spacing: 1px;
    
    padding: 2em 10%;
    background: #2c3e50;
    color: #fff;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.b-container{
    width:600px;
    height:450px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.popup .popup-content{
    margin: 20% auto 0px auto;
    width:400px;
    height: 150px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.popup-content .button-close{
float: right;
margin-right: 0;
}
 .popup-content a{
    color: slateblue;
}
.popup-content form{
    margin: 10px;
}
.popup-content .button-add{
    margin-top: 10px;
    
}